

<!-- add new guest form -->

<table class="ui celled table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Is attending</th>
        <th>Meal preference</th>
        <th>Comments</th>
     </tr>
  </thead>
  <tbody>
     <!-- guest information here -->

  </tbody>
</table>