<div class="ui segment">

    <div class="ui text container">

        <h1 class="ui header">
            Welcome to our Wedding Response Site
        </h1>
        <div class="ui input">
           <!-- Enter code form here -->
        </div>
    </div>

</div>
