<div class="ui segment">

    <div class="ui text container">

        <h1 class="ui header">
            Welcome to our Wedding Response Site
        </h1>
        <div class="ui input">
               <form asp-controller="Guest" asp-action="Index">
                    <input class="ui input" name="code" type="text" placeholder="Your welcome code">
                    <button class="ui primary button" type="submit">Submit</button>
               </form>
        </div>
    </div>

</div>
